@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

.change {
    color: #f2aaaa;
    text-align: center;
    padding-top: 5%;
    font-family: Pangolin;
    font-size: 90px;
    border: 5px solid #e36387;
}



body{
    margin: 30px;
    background-color: #ddf3f5 ;
}

.left {
    float: left;
    padding-left: 10%;
}

.right {
    float: right;
    padding-right: 10%;
}
/* .coin{

}

.gamebox{

} */ 
